@model IEnumerable<WebapiFrontend.Models.Brand>

@{
    ViewData["Title"] = "Brand";
}


<p>
    <a class="btn btn-primary" asp-action="CreateBrand">Create New</a>
</p>
<h1 class="text-center">All Brands</h1>
<table class="table table-responsive">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="UpdateBrand" asp-route-id="@item.Id">UpdateBrand</a>
                    <a class="btn btn-success" asp-action="DetailBrand" asp-route-id="@item.Id">DetailBrand</a>
                    <a class="btn btn-danger" asp-action="DeleteBrand" asp-route-id="@item.Id">DeleteBrand</a>
                    @*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>
