@model IEnumerable<WebapiFrontend.Models.Product>

@{
    ViewData["Title"] = "Product";
}


<p>
    <a class="btn btn-primary" asp-action="CreateProduct">Create New</a>
</p>
<h1 class="text-center">All Products</h1>
<table class="table table-responsive">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Brand Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                   Rs. @Html.DisplayFor(modelItem => item.Price) Only
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brands.Name)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="UpdateProduct" asp-route-id="@item.Id">UpdateProduct</a>
                    @* <a class="btn btn-success" asp-action="DetailProduct" asp-route-id="@item.Id">DetailProduct</a> *@
                    <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@item.Id">DeleteProduct</a>
                    @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>
